@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(239, 245, 255, 1);
  /* min-height: 100vh; */
}

@layer utilities {
  .ubuntu{
      font-family: 'Ubuntu', sans-serif;
  }
  .bg_mobile{
      background-image: url(./images/bg-sidebar-mobile.svg);
  }
  .bg-desktop{
      background-image: url(./images/bg-sidebar-desktop.svg);
  }
  .shadow-custom {
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
  }
}